body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
}
.banner {
    margin: 5% auto;
    padding: 70px 30px;
    height: 450px;
    background: url("https://cdn.radiofrance.fr/s3/cruiser-production/2018/04/ae9a5742-d12a-4be0-ac93-dc3ab648ac09/1200x680_maxmatinnews322121.jpg") no-repeat fixed center;
}
.jumbotron {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cardi {
    margin-right: 5%;
}